.imgs {
	margin: auto;
	width: 100%;
	position: relative;
	min-height: 100%;
}
.imgs[data-is-large='false'] {
	border-radius: 1.6em;
	background: var(--color-text);
	overflow: hidden;
}

.imgs img {
	position: absolute;
	will-change: visibility;
	border: 1px solid #333;
	max-width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: 2em;
	visibility: hidden;
}
.imgs[data-is-large='false'] img {
	height: 100%;
}
.imgs[data-is-large='false'][data-view='sbs'] img {
	height: auto;
	max-height: 200%;
}

.original {
	transform-origin: left 0;
}
.change {
	transform-origin: right 0;
}
.imgs[data-is-large='false'] .original {
	transform-origin: left center;
}
.imgs[data-is-large='false'] .change {
	transform-origin: right center;
}

.imgs[data-view='original'] .original {
	visibility: visible;
}
.imgs[data-view='change'] .change {
	visibility: visible;
}
.imgs[data-view='diff'] .diff {
	visibility: visible;
}

.imgs[data-view='sbs'] .original,
.imgs[data-view='sbs'] .change {
	visibility: visible;
	transform: scale(0.49);
}
.imgs[data-view='sbs'][data-is-large='false'] .original,
.imgs[data-view='sbs'][data-is-large='false'] .change {
	transform: translateY(-25%) scale(0.49);
}
