.root {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: -1em;
	z-index: 10;
	background: var(--color-bg);
	background: #fff;
	padding: 1em;
	margin: -1em -1em 0.5em;
}

.root > * {
	flex: 1 1 auto;
}

.root > .header {
	flex: 0 0 auto;
}

.header .title {
	flex: 0 1 auto;
	width: auto;
}

.scaler {
	margin-left: 1em;
}
