.root {
	all: unset;
	border: 0;
	cursor: pointer;
	display: block;
}

.name {
	display: flex;
	width: 100%;
	margin-top: 1em;
	align-items: center;
	justify-content: space-between;
}

.score {
	background: pink;
	border-radius: 10000em;
	padding: 0.2em 0.5em;
	margin: -2em 0;
	opacity: 0.7;
}

.img {
	padding-top: 100%;
	background-color: #444;
	border-radius: 0.5em;
	box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
	background-size: cover;
	background-position: 0 0;
	transition: 0.3s ease-in-out;
	will-change: transform;
}

.root:hover .img {
	transform: scale(1.05);
}
