.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
	grid-gap: 3em;
}

.headerBtn {
	all: inherit;
	width: 100%;
	margin: 0;
}

.header {
	display: flex;
	width: 100%;
	justify-content: stretch;
	align-items: center;
	margin-bottom: 2em;
}

.head {
	width: 100%;
}

.counter {
	background: var(--color-secondary);
	color: var(--color-highlight);
	font-weight: 900;
	margin-right: 1em;
	display: block;
	padding: 1em 2em;
	border-radius: 1000em;
	flex: 0 0 auto;
}
