.root {
	display: flex;
	width: 100vw;
	min-height: 100vh;
}

.root > * + * {
	border-left: 1px solid #ddd;
}

.root > * {
	padding: 1em;
}

.root main {
	flex: 1 1 0;
}

main[data-lightbox] {
	background: #ddd;
}
